<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<h1 th:text="${titre}"></h1>
<div th:replace="fragments/Header :: taghead"></div>
<div th:replace="fragments/menu :: tagmenu">  </div>
<body>


		<form th:action="@{/livre/updateL}" th:object="${livreForm}" method="post">
	<input type="hidden" th:value="${livreForm.id}" name="id"/>
	
<div class="justify-content-md-center">
	<div class="row g-2 container-md ">
	
		<div class="col-md-3">		
		<label  class="form-label">Titre :</label>
			<input type="text" class="form-control" th:field="*{titre}" />
		</div>	<br/>
		
		<div class="col-md-3">		
		<label  class="form-label">	Auteur :</label>
			<input type="text" class="form-control" th:field="*{auteur}" />
		</div>	<hr/>
		
	<div class="row g-3 container-md ">
	<div class="col-md-2">
	<input type="submit" class="btn btn-outline-info" value="Modifier" />
	</div>
	<div class="col-md-2">		
		<a th:href="@{/livre/livres}"><button type="button" class="btn btn-outline-warning">Retour</button></a>	
			</div></div>
			</div></div>
		</form>
		
</body>
</html>
