<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<h1 th:text="${titre}"></h1>
<div th:replace="fragments/Header :: taghead"></div>
<div th:replace="fragments/menu :: tagmenu">  </div>
<body>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="client : ${clients}">
				<td th:text="${client.nom}"></td>
				<td th:text="${client.prenom}"></td>

				<ul>
				
					<td><a th:href="@{/client/delete/{id}(id=${client.id})}"><button type="button" class="btn btn-outline-danger"> SUPPRIMER</button></a></td>
					<td><a th:href="@{/client/update/{id}(id=${client.id})}"><button type="button" class="btn btn-outline-info"> MODIFIER</button></a></td>


				</ul>
		</tbody>
	</table>
</body>
</html>
